.statsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}
.statsTitle {
  font-weight: bold;
  font-size: 14px;
  color: var(--white);
}
.statsDataContent {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray);
}
.statsIcon {
  --size: 24px;
  width: var(--size);
  height: var(--size);
}
.statsIcon.release {
  background: url('../../../../assets/icons/Calendar.svg') no-repeat center;
  object-fit: cover;
}
.statsIcon.popularity {
  background: url('../../../../assets/icons/Users.svg') no-repeat center;
  object-fit: cover;
}
.statsData {
  font-size: 14px;
}