.SearchResultContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}
.SearchResults {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

@media screen and (min-width: 1200px) {
  .SearchResults {
    grid-gap: 3rem;
  }
}
