.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .35rem;
}
.logo.normal {
  margin-bottom: 2rem;
}

.logoText {
  color: var(--primary);
  font-weight: bold;
}
.logoText.normal {
  font-size: 2rem;
}
.logoText.small {
  font-size: 1rem;
}

.logoIcon {
  object-fit: cover;
  background: url('../../assets/images/logo.webp') no-repeat center;
}
.logoIcon.normal {
  --size: 58px;
  width: var(--size);
  height: var(--size);
}
.logoIcon.small {
  --size: 24px;
  background: url('../../assets/images/logo-small.webp') no-repeat center;
}
