.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.navbarLogo {
  align-self: start;
}

.navbarSearch {
  align-self: center;
}